{% extends 'base.html' %}

{% block content %}
<h1>All Categories</h1>

<ul id="category-list">
    {% for category in categories %}
    <li id="category-{{ category.id }}">
        <a href="{% url 'category_transactions' category.id %}">{{ category.name }}</a>
        <button onclick="deleteCategory('{% if category.id %}{{ category.id }}{% endif %}')">Delete</button>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'index' %}" class="home-link">Back to Home page</a>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{% endblock %}
