{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Welcome!</h1>
    <h2>Categories</h2>
    <ul>
        {% for category in categories %}
        <li>{{ category.name }}</li>
        {% empty %}
        <li>No categories found.</li>
        {% endfor %}
    </ul>
    
    <h2>Transactions</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.get_type_display }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.description }}</td>
            </tr>
            {% empty %}
            <tr><td colspan="5">No transactions found.</td></tr>
            {% endfor %}
        </tbody>
    </table>
<form action="{% url 'logout' %}" method="post" class="button">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endblock %}