{% extends 'base.html' %}

{% block content %}
<div class="welcome-container">
    <h1>Welcome to SavvySpend!</h1>
</div>

<div class="grid-container">
    <div class="card transactions">
        <h2>Transactions</h2>
        <p>No transactions found.</p>
    </div>

    <div class="card categories">
        <h2>Categories</h2>
    <ul id="category-list">
        {% for category in categories %}
        <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <form id="add-category-form">
        {% csrf_token %}
        <input type="text" name="category_name" placeholder="Enter new category name">
        <button type="submit">Add Category</button>
    </form>
    <a href="{% url 'categories' %}">View All Categories</a>
    </div>

    <div class="card budget">
        <h2>Budget</h2>
        <p>Manage your budget here.</p>
    </div>
</div>

<form action="{% url 'logout' %}" method="post" class="button">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var addCategoryUrl = "{% url 'add_category' %}";
</script>
{% endblock %}